<div class="container main">
  <div class="container">
    <div class="conatiner border-primary border">
      <div class="container-fluid bg-primary">
        <h1 class="text-white" routerLink="/products/grocery">Grocery</h1>
      </div>

      <div class="container-fluid mt-4">
        <div class="navbar-expand-lg bg-white">
          <div class="row bg-white">
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/packagefood.webp"
                  alt="grocerylogo"
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Package Foods
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Detergents</a></li>
                  <li><a class="dropdown-item" href="#">soap</a></li>
                  <li><a class="dropdown-item" href="#">Shampoo</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dishwash</a>
                    <a class="dropdown-item" href="#">Floor Cleaner</a>
                    <a class="dropdown-item" href="#">Paper and Disposal</a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/staples.webp"
                  alt="fashion logo"
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Staples
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item">Wheat</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Wheat</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Rice</a></li>
                  <li><a class="dropdown-item" href="#">Pulses</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dry Fruits</a>
                    <a class="dropdown-item" href="#">Spices</a>
                    <a class="dropdown-item" href="#">Oil Ghee</a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/snacks.webp"
                  alt="electronics"
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Snacks
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Detergents</a></li>
                  <li><a class="dropdown-item" href="#">soap</a></li>
                  <li><a class="dropdown-item" href="#">Shampoo</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dishwash</a>
                    <a class="dropdown-item" href="#">Floor Cleaner</a>
                    <a class="dropdown-item" href="#">Paper and Disposal</a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/household.webp"
                  alt=""
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Household
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Detergents</a></li>
                  <li><a class="dropdown-item" href="#">soap</a></li>
                  <li><a class="dropdown-item" href="#">Shampoo</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dishwash</a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/homeandkithen.webp"
                  alt="two Wheelers"
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Home and Kitchen
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Detergents</a></li>
                  <li><a class="dropdown-item" href="#">soap</a></li>
                  <li><a class="dropdown-item" href="#">Shampoo</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dishwash</a>
                    <a class="dropdown-item" href="#">Floor Cleaner</a>
                    <a class="dropdown-item" href="#">Paper and Disposal</a>
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-2">
              <ul class="nav-item dropdown">
                <img
                  src="../../../assets/grocery/grocrerNav/eggs.webp"
                  alt="toys"
                  style="height: 55px; width: 55px"
                />
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Eggs and Dairy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Detergents</a></li>
                  <li><a class="dropdown-item" href="#">soap</a></li>
                  <li><a class="dropdown-item" href="#">Shampoo</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Dishwash</a>
                    <a class="dropdown-item" href="#">Floor Cleaner</a>
                    <a class="dropdown-item" href="#">Paper and Disposal</a>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />

      <div class="container-fluid bg-light text-muted">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit autem
          necessitatibus recusandae possimus sed, unde ea beatae vitae
          reiciendis et cupiditate, quae iusto officiis quas! Ad nemo natus
          magni beatae ab ut eligendi numquam delectus quisquam minus autem
          recusandae itaque consectetur fugit, eius facilis quidem aperiam
          aliquid voluptatibus eos adipisci dolores! Ea dolorum tempore minima
          vel praesentium saepe sint voluptates repudiandae quasi, eius ipsam
          temporibus blanditiis nihil ipsum perferendis, vero labore. Eius,
          molestias enim. Dolor sunt illo cum consequuntur a perspiciatis dicta
          accusantium doloremque tempore quod quidem iure cumque nisi, autem
          veritatis ea, animi blanditiis quis modi nihil repellendus fugit!
        </p>
      </div>

      <div class="container">
        <div class="row bg-success rounded p-2">
          <h4>Grad the deals</h4>
          <br /><br />

          <div class="card" style="width: 18rem; margin-left: 15px">
            <h6 class="container-fluid text-left text-muted bg-warning">
              Shop for ₹399 to get discount
            </h6>
            <div class="row mt-1">
              <div class="col-6">
                <img
                  src="../../../assets/grocery/10perOff.webp"
                  class="card-img-top mt-0"
                  alt="..."
                  style="width: 90%; height: 90%; margin-bottom: 0px"
                />
              </div>
              <div class="col-6">
                <div class="row">
                  <h5 style>10％ flat off</h5>
                  <p style="font-size: 11px">on your grocery order</p>
                  <p class="text-muted" style="font-size: 11px">
                    Applies Automatically
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-2"></div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>
