<div class="container-fluid">
  <div class="conatiner">
    <span>
      <div class="navbar-expand-lg bg-light">
        <div class="row bg-light">
          <div class="col-2">
            <img src="../../assets/innerNav/grocery.webp" alt="grocerylogo" />
            <p claass=" text-bold" routerLink="/products/grocery">Grocery</p>
          </div>
          <div class="col-2">
            <img src="../../assets/innerNav/fashion.webp" alt="fashion logo" />
            <p claass=" text-bold" routerLink="/products/fashion">Fashion</p>
          </div>
          <div class="col-2">
            <img
              src="../../assets/innerNav/electronics.webp"
              alt="electronics"
            />
            <p claass=" text-bold" routerLink="/products/electronics">
              Electronics
            </p>
          </div>
          <div class="col-2">
            <img src="../../assets/innerNav/mobiles.webp" alt="" />
            <p claass=" text-bold" routerLink="/products/Mobiles">Mobiles</p>
          </div>
          <div class="col-2">
            <img
              src="../../assets/innerNav/twowheelers.webp"
              alt="two Wheelers"
            />
            <p claass=" text-bold" routerLink="/products/courses">
              Two Wheelers
            </p>
          </div>
          <div class="col-2">
            <img src="../../assets/innerNav/Toys.webp" alt="toys" />
            <p claass=" text-bold" routerLink="/products/toys">Two Wheelers</p>
          </div>
        </div>
      </div>
    </span>
  </div>

  <div class="container mt-5">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="../../assets/carousel/carousel1.webp"
            class="d-block w-100"
            alt=""
          />
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img
            src="../../assets/carousel/crouse 4.webp"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="30000">
          <img
            src="../../assets/carousel/crouse 3.webp"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="30000">
          <img
            src="../../assets/carousel/crouse1.webp"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item" data-bs-interval="30000">
          <img
            src="../../assets/carousel/crouse2.webp"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev bg-dark"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
        style="width: 25px"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next bg-dark"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
        style="width: 25px"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="conatiner mt-5">
    <span class="sam">
      <div class="row disp">
        <div class="col-2">
          <div class="card" style="width: 15rem">
            <img
              src="../../assets/home-cards/philips-s1121-45-s1121-45-original-imafry2qgxcwnm9r.webp"
              class="card-img-top mt-5 p-1"
              alt="..."
              style="width: 50px; height: 200px; margin-left: 85px"
            />
            <hr class="line" />
            <div class="card-body">
              <h5 class="card-title text-center">Trimers</h5>
              <p class="card-text text-center">&#8377;1,500</p>
              <hr class="line" />
              <a
                routerLink="/products/electronics"
                class="btn btn-primary"
                style="margin-left: 25px"
                >Go to Electronics</a
              >
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 15rem">
            <img
              src="../../assets/home-cards/camera.webp"
              class="card-img-top mt-5 p-2"
              alt="..."
              style="width: 95%; height: 99%; margin-bottom: 50px"
            />
            <hr class="line" />
            <div class="card-body">
              <h5 class="card-title text-center">Camera</h5>
              <p class="card-text text-center">&#8377;15,499</p>
              <hr class="line" />
              <a
                routerLink="/products/electronics"
                class="btn btn-primary"
                style="margin-left: 25px"
                >Go to Electronics</a
              >
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 15rem">
            <img
              src="../../assets/home-cards/keyboard.webp"
              class="card-img-top mt-4 p-2"
              alt="..."
              style="width: 95%; height: 50%; margin-bottom: 0px"
            />
            <hr class="line" />
            <div class="card-body">
              <h5 class="card-title text-center">keyboard</h5>
              <p class="card-text text-center">&#8377;1,199</p>
              <hr class="line" />
              <a
                routerLink="/products/electronics"
                class="btn btn-primary"
                style="margin-left: 25px"
                >Go to Electronics</a
              >
            </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 15rem; height: 27.8rem">
            <img
              src="../../assets/home-cards/cannon.webp"
              class="card-img-top mt-5 p-3"
              alt="Printer"
              style="
                width: 95%;
                height: 100%;

                margin-bottom: 50px;
              "
            />
            <hr class="line" />
            <div class="card-body">
              <h5 class="card-title text-center">Printer</h5>
              <p class="card-text text-center">&#8377;35,999</p>
              <hr class="line" />
              <a
                routerLink="/products/electronics"
                class="btn btn-primary"
                style="margin-left: 25px"
                >Go to Electronics</a
              >
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
